:root {
    --color1: #8C876D;
    --color2: #F2BFA2;
    --color3: #A2D92B;
    --color4: #C7CFD9;
    --color5: #A5A2F2;
    --color6: #D9462B;
    --color7: #A69F61;
    --color8: #84A660;
}
:root { /* color1 light */
    --color1-light-90: #f4f3f0;
    --color1-light-80: #e8e7e2;
    --color1-light-70: #dddbd3;
    --color1-light-60: #d1cfc5;
    --color1-light-50: #c6c3b6;
    --color1-light-40: #bab7a7;
    --color1-light-30: #afab99;
    --color1-light-20: #a39f8a;
    --color1-light-10: #98937c;
}
:root { /* color1 dark */
    --color1-dark-10: #7e7a62;
    --color1-dark-20: #706c57;
    --color1-dark-30: #625f4c;
    --color1-dark-40: #545141;
    --color1-dark-50: #464437;
    --color1-dark-60: #38362c;
    --color1-dark-70: #2a2921;
    --color1-dark-80: #1c1b16;
    --color1-dark-90: #0e0d0b;
}
:root { /* color2 light */
    --color2-light-90: #fef9f6;
    --color2-light-80: #fcf2ec;
    --color2-light-70: #fbece3;
    --color2-light-60: #fae5da;
    --color2-light-50: #f9dfd1;
    --color2-light-40: #f7d9c7;
    --color2-light-30: #f6d2be;
    --color2-light-20: #f5ccb5;
    --color2-light-10: #f3c5ab;
}
:root { /* color2 dark */
    --color2-dark-10: #daac92;
    --color2-dark-20: #c29982;
    --color2-dark-30: #a98671;
    --color2-dark-40: #917361;
    --color2-dark-50: #796051;
    --color2-dark-60: #614c41;
    --color2-dark-70: #493931;
    --color2-dark-80: #302620;
    --color2-dark-90: #181310;
}
:root { /* color3 light */
    --color3-light-90: #f6fbea;
    --color3-light-80: #ecf7d5;
    --color3-light-70: #e3f4bf;
    --color3-light-60: #daf0aa;
    --color3-light-50: #d1ec95;
    --color3-light-40: #c7e880;
    --color3-light-30: #bee46b;
    --color3-light-20: #b5e155;
    --color3-light-10: #abdd40;
}
:root { /* color3 dark */
    --color3-dark-10: #92c327;
    --color3-dark-20: #82ae22;
    --color3-dark-30: #71981e;
    --color3-dark-40: #61821a;
    --color3-dark-50: #516d16;
    --color3-dark-60: #415711;
    --color3-dark-70: #31410d;
    --color3-dark-80: #202b09;
    --color3-dark-90: #101604;
}
:root { /* color4 light */
    --color4-light-90: #f9fafb;
    --color4-light-80: #f4f5f7;
    --color4-light-70: #eef1f4;
    --color4-light-60: #e9ecf0;
    --color4-light-50: #e3e7ec;
    --color4-light-40: #dde2e8;
    --color4-light-30: #d8dde4;
    --color4-light-20: #d2d9e1;
    --color4-light-10: #cdd4dd;
}
:root { /* color4 dark */
    --color4-dark-10: #b3bac3;
    --color4-dark-20: #9fa6ae;
    --color4-dark-30: #8b9198;
    --color4-dark-40: #777c82;
    --color4-dark-50: #64686d;
    --color4-dark-60: #505357;
    --color4-dark-70: #3c3e41;
    --color4-dark-80: #28292b;
    --color4-dark-90: #141516;
}
:root { /* color5 light */
    --color5-light-90: #f6f6fe;
    --color5-light-80: #edecfc;
    --color5-light-70: #e4e3fb;
    --color5-light-60: #dbdafa;
    --color5-light-50: #d2d1f9;
    --color5-light-40: #c9c7f7;
    --color5-light-30: #c0bef6;
    --color5-light-20: #b7b5f5;
    --color5-light-10: #aeabf3;
}
:root { /* color5 dark */
    --color5-dark-10: #9592da;
    --color5-dark-20: #8482c2;
    --color5-dark-30: #7371a9;
    --color5-dark-40: #636191;
    --color5-dark-50: #535179;
    --color5-dark-60: #424161;
    --color5-dark-70: #323149;
    --color5-dark-80: #212030;
    --color5-dark-90: #101018;
}
:root { /* color6 light */
    --color6-light-90: #fbedea;
    --color6-light-80: #f7dad5;
    --color6-light-70: #f4c8bf;
    --color6-light-60: #f0b5aa;
    --color6-light-50: #eca395;
    --color6-light-40: #e89080;
    --color6-light-30: #e47e6b;
    --color6-light-20: #e16b55;
    --color6-light-10: #dd5940;
}
:root { /* color6 dark */
    --color6-dark-10: #c33f27;
    --color6-dark-20: #ae3822;
    --color6-dark-30: #98311e;
    --color6-dark-40: #822a1a;
    --color6-dark-50: #6d2316;
    --color6-dark-60: #571c11;
    --color6-dark-70: #41150d;
    --color6-dark-80: #2b0e09;
    --color6-dark-90: #160704;
}
:root { /* color7 light */
    --color7-light-90: #f6f5ef;
    --color7-light-80: #edecdf;
    --color7-light-70: #e4e2d0;
    --color7-light-60: #dbd9c0;
    --color7-light-50: #d3cfb0;
    --color7-light-40: #cac5a0;
    --color7-light-30: #c1bc90;
    --color7-light-20: #b8b281;
    --color7-light-10: #afa971;
}
:root { /* color7 dark */
    --color7-dark-10: #958f57;
    --color7-dark-20: #857f4e;
    --color7-dark-30: #746f44;
    --color7-dark-40: #645f3a;
    --color7-dark-50: #535031;
    --color7-dark-60: #424027;
    --color7-dark-70: #32301d;
    --color7-dark-80: #212013;
    --color7-dark-90: #11100a;
}
:root { /* color8 light */
    --color8-light-90: #f3f6ef;
    --color8-light-80: #e6eddf;
    --color8-light-70: #dae4cf;
    --color8-light-60: #cedbbf;
    --color8-light-50: #c2d3b0;
    --color8-light-40: #b5caa0;
    --color8-light-30: #a9c190;
    --color8-light-20: #9db880;
    --color8-light-10: #90af70;
}
:root { /* color8 dark */
    --color8-dark-10: #779556;
    --color8-dark-20: #6a854d;
    --color8-dark-30: #5c7443;
    --color8-dark-40: #4f643a;
    --color8-dark-50: #425330;
    --color8-dark-60: #354226;
    --color8-dark-70: #28321d;
    --color8-dark-80: #1a2113;
    --color8-dark-90: #0d110a;
}
