/* .genderIcon.female::before {
    content: '♀';
}

.genderIcon.male::before {
    content: '♂';
}

.genderIcon.other::before {
    content: '⚧';
} */

.window.humanStatus {
    z-index: 2;
}

.window.humanStatus.focused {
    z-index: 3;
}

.window.humanStatus .valueCont {
    display: flex;
    column-gap: 5px;
}

.window.humanStatus .content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

@keyframes windowHuman_open {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    75% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.window.humanStatus.open {
    transform: scale(0);
    opacity: 0;
    animation-name: windowHuman_open;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

@keyframes windowHuman_close {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.window.humanStatus.closing {
    animation-name: windowHuman_close;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    transform-origin: center bottom;
}