@import url('./reset.css');
@import url('./colors.css');
@import url('./utilityClasses.css');
@import url('./window.css');
@import url('./loader.css');
@import url('./mapWindow.css');

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(180deg, var(--color5) 0%, var(--color5-dark-50) 100%) !important;
}